body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

button {
    background-color: red;
    border: none;
    color: black;
    padding: 80px 80px;
    text-align: center;
    text-decoration: overline;
    display: inline-block;
    font-size: 50px;
    cursor: pointer;
}

button:hover {
    font-size: 50px;
    background-color:pink;
}
