nav {
    background-color: pink;
    overflow: hidden;
    font-size: 80px;
}

nav a:hover
{
    background-color: yellow;
    color: black;
}

section{
    height: 500px;
    padding: 20px;
}

.part1 { background-color: white; }
.part2 { background-color: white; }
.part3 { background-color: white ;}
